# dependencies
node_modules/

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# env
.env
.env.local

# astro build output
dist/

# astro internals
.astro/
.agents/
skills-lock.json